{% extends "layout.html" %}
{% block body %}
    <form id="signup_form" method="POST" action="http://127.0.0.1:5000/signup">
        <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Handle" name="name"  required>
        <br>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass"  required>
        <br>
        <label><b>Flag</b></label>
        <input type="text" placeholder="flag" name="flag" required>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </form>
{% endblock %}